<h1><%= @painting.name %></h1>

<h3>Original image:</h3>
<%= image_tag @painting.img_ori %>

<h3>Large version:</h3>
<%= image_tag @painting.img_large %>

<h3>Thumbnail version:</h3>
<%= image_tag @painting.img_thumb %>

<p>
  <%= link_to "Edit", edit_painting_path(@painting) %> |
  <%= link_to "Destroy", @painting, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Paintings", paintings_path %>
</p>
